*
{
 /* General styles for tidy look */
  text-align: center;
/* Adjust margin for center the elements better using percentages for
   adapt to the screen size instead of use the dangerous letter size */
  margin-bottom: 0%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
 /* Adjust inner spacing */
  padding: 0 auto;
}

img
{
  width: 50%;
  height: 50%;
}

a
{
  text-decoration: none;
}

a:hover
{
  transition: linear 0.38s;
  color: rgb(242, 242, 242);
  background: rgb(65, 150, 217);
}

input[type=color]
{
  border-radius: 100%;
  width: 3em;
  margin-left: 9%;
  margin-right: 5%; 
}

button
{
  width: 20%;
  margin-left: -5%;
  margin-right: -9.5%;
  background: rgba(10, 100, 200, 0.3);
  font-size: 100%;
  border: 0.42em solid rgb(255, 95, 95);
  border-radius: 5%; 
}
